.venv/*
.history/*
.mypy_cache/*
.env
__pycache__

logs/*

course_langchain/*

!course_langchain/entrypoint.sh
!course_langchain/mainCLAUDE.py 
!course_langchain/mainGPT.py
!course_langchain/mainLLaMA.py
!course_langchain/requirements.txt
!course_langchain/script.py
!course_langchain/tests.py
!course_langchain/version.txt 

